#ticker-wrapper *{margin:0}
#ticker-wrapper.has-js{width:800px;height:30px;border:1px solid #CFCFCF;display:block;font-family:Arial;font-size:.75em;margin:20px 0 0 20px}
#ticker{width:715px;height:23px;display:block;float:left;position:relative;overflow:hidden;background-color:#fff;padding:0 0 0 10px}
#ticker-title{padding-top:7px;float:left;color:#900;font-weight:700;background-color:#fff;text-transform:uppercase}
#ticker-content{padding-top:7px;float:left;position:absolute;color:#1F527B;font-weight:700;background-color:#fff;margin:0}
#ticker-content A{text-decoration:none;color:#1F527B}
#ticker-content A:hover{text-decoration:underline;color:#0D3059}
#ticker-swipe{padding-top:7px;position:absolute;top:0;left:80px;background-color:#fff;display:block;width:800px;height:23px}
#ticker-swipe SPAN{margin-left:1px;background-color:#fff;border-bottom:1px solid #1F527B;height:12px;width:7px;display:block}
#ticker-controls{list-style-type:none;float:right;padding:7px 10px 0 0}
#ticker-controls LI{margin-left:5px;float:left;cursor:pointer;height:16px;width:16px;display:block;padding:0}
#ticker-controls LI#play-pause{background-image:url(../images/controls.png);background-position:32px 16px}
#ticker-controls LI#play-pause.over{background-position:32px 32px}
#ticker-controls LI#play-pause.down{background-position:32px 0}
#ticker-controls LI#play-pause.paused{background-image:url(../images/controls.png);background-position:48px 16px}
#ticker-controls LI#play-pause.paused.over{background-position:48px 32px}
#ticker-controls LI#play-pause.paused.down{background-position:48px 0}
#ticker-controls LI#prev{background-image:url(../images/controls.png);background-position:0 16px}
#ticker-controls LI#prev.over{background-position:0 32px}
#ticker-controls LI#prev.down{background-position:0 0}
#ticker-controls LI#next{background-image:url(../images/controls.png);background-position:16px 16px}
#ticker-controls LI#next.over{background-position:16px 32px}
#ticker-controls LI#next.down{background-position:16px 0}
.js-hidden{display:none}